<div class="home-intro">
    <div class="intro">
        <div class="intro-text">
            <h1>{{site.heading}}</h1>
            <h2>Full Stack Developer</h2>
            <i class="fas fa-map-marker-alt"></i> Budapest, HU
        </div>
        <div class="contacts">
            {% for item in site.data.contacts %}

            <div class="contact-item">
            {% case item.name %}
            {% when 'Email' %}
                {% assign url = item.handle | encode_email | prepend: 'mailto:' %}
            {% when 'Telegram' %}
                {% assign url = item.handle | prepend: 'https://t.me/' %}
            {% when 'GitHub' %}
                {% assign url = item.handle | prepend: 'https://github.com/' %}
            {% endcase %}
            <a href="{{url}}" target="_blank" rel="noopener" title="{{item.name}}">
                <i class="{{item.icon}}"></i>
            </a>
        </div>
            {% endfor %}
        </div>

    </div>
    <div class="home-sub-text">
        Motivált és sokoldalú fejlesztő vagyok, 6 év tapasztalattal Kotlin, SpringBoot és Java területén. Igyekszem felhasználó-központú, könnyen használható alkalmazásokat fejleszteni. 
        Elkötelezett vagyok a szakmai fejlődés iránt és szeretek új technológiákat megismerni, amelyeket a munkám során hasznosítani tudok, valamint meg tudok osztani másokkal.
        <br><br>
        Ez az oldal egyfajta <a href="https://github.com/MaggieAppleton/digital-gardeners?tab=readme-ov-file" target="_blank" rel="noopener">Digitális Kert</a>. Célja, hogy dokumentáljam azokat az 
        érdekességeket / problémákat, amikkel munkám során találkozok, így a jövőben könnyebben visszakereshetőek lesznek. Van itt angol-magyar kavarodás bőven, igazából nekem kell értenem, de ha 
        esetleg más is talál hasznos információkat, az csak hab a tortán. Ezen kívül található még itt pár érdekesség, ami éppen foglalkoztat, vagy amit érdemesnek tartok megosztani.
        Az ötletadó <a href="https://github.com/readme/guides/private-documentation" target="_blank" rel="noopener">Monica Powell</a> volt.
    <br><br>
        Ha érdekelne, hogy miken változtattam: <a href="{{'/changelog' | relative_url}}">Irány a Changelog</a>.
</div> </div>

