{%- comment -%}
*
* File: Nav.html
* Author Raghuveer S, Hiran Venugopalan
*
* This file contains the markup for the context menu thingy you see when you right
* click on the post titles on the home page.
*
{%- endcomment -%}

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" style="padding-left: 0;"; href="{{ site.baseurl }}/index.html">
        <img src="{{ '/assets/img/logo.png' | relative_url }}" width="30px" style="margin-right: 16px;"><h6> {{site.heading}}</h6>
        </a>
          <script src="{{ site.baseurl }}/assets/js/modeswitcher.js"></script>
          <script src="{{ site.baseurl }}/assets/js/Hamburger.js"></script>
      <div class="navbar-item navbar-dark-mode__mobile is-hidden-tablet" onclick="modeSwitcher()">
        <div class="buttons">
          <a class="button is-text">
            <span class="icon is-small">
              <img src="{{ '/assets/img/sun.svg' | relative_url }}" id="theme-toggle-img--mobile">
            </span>
          </a>
        </div>
      </div>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        {% for item in site.data.nav %}
          <a href="{{ item.path | relative_url }}" class="navbar-item">
            {% if item.icon %}
            <i class="icon-left fa-xs {{item.icon}}"></i> 
            {% endif %}
          {{ item.title }}
          </a>
        {% endfor %}
      </div>
      <div class="navbar-end is-hidden-mobile" onclick="modeSwitcher()" >
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-text">
              <span class="icon is-small">
                <img src="{{ '/assets/img/sun.svg' | relative_url }}" id="theme-toggle-img">
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>